@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


/* start sidebar */
.DashboardWrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #0f172a;
    transition: all 0.3s;
    padding:30px 15px;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 0;
    margin:0 0 40px 0;
    display:flex;
}
#sidebar .sidebar-header h1{
    margin:0;
    padding:0;
    color:white;
    font-size:30px;
}
#sidebar ul.sidebarList {
    padding: 20px 0;
}
#sidebar ul h2 {
    margin:0 0 30px 20px;
    padding:0;
    font-size:14px;
    text-transform:uppercase;
    color:rgb(63 131 248);
}
#sidebar ul h2 a{
    text-decoration:none;
    color:rgb(63 131 248);
}
#sidebar ul h2 a i{
    margin:0 7px 0 0;
}
#sidebar ul li{
    margin:0 0 10px 0;
}
#sidebar ul li a {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
    color:rgb(156 163 175);
    text-decoration:none;
    margin:0;
}
#sidebar ul li a i{
    margin:0 7px 0 0; 
    font-size:18px;
}
#sidebar ul li a:hover {
    color: white;
    background: #2a3444;
    border-radius:5px;
}
#sidebar ul li a[data-toggle="collapse"] {
    position: relative;
}
#sidebar ul li .dropdown-toggle::after {
   float:right;
   margin:12px 0 0 0;
}
#sidebar ul ul a {
    font-size: 14px !important;
    color:rgb(156 163 175);
     padding: 10px 20px 10px 50px;
}

/* end sidebar */



#contentBox {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    background:#f1f5f9;
}

/* start top navbar */
#contentBox .navbar {
    background:white;
    padding:20px 15px;
    box-shadow:0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}

#contentBox .navbar .topbarheader {
    padding: 0;
    margin:0;
    display:none;
}
#contentBox .navbar .topbarheader h1{
    margin:0;
    padding:0;
    color:3212121;
    font-size:27px;
}
#contentBox .navbar .btn{
    border:none;
    background:transparent;
    padding:0;
}
#contentBox .navbar .btn:focus{
     outline: none !important;
     border:none !important;
     box-shadow:none !important;
}
#contentBox .navbar .btn i{
    font-size:23px;
}
#contentBox .navbar .RightCol .MainList{
    display:inline-flex;
    list-style-type:none;
    padding:0;
    margin:0;
    align-items:center;
}
#contentBox .navbar .RightCol .MainList li{
    margin:0 0 0 15px;
    padding:0;
}
#contentBox .navbar .RightCol .MainList li a{
    text-decoration:none;
    color:#212121;
}
#contentBox .navbar .RightCol .MainList li a i{
    font-size:18px;
    cursor:pointer;
}   
#contentBox .navbar .RightCol .MainList li i{
    font-size:18px;
    cursor:pointer;
}   
#contentBox .navbar .RightCol .MainList li .dropdown-menu{
    left:auto;
    right:0;
    box-shadow:0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    border:none;
    padding:0;
}
#contentBox .navbar .RightCol .MainList li .dropdown-menu li{
    margin:0;
}
#contentBox .navbar .RightCol .MainList li .dropdown-menu .dropdown-item{
    padding:16px 25px;
    border-bottom:1px solid rgba(0,0,0,.1);
    font-size:13px;
    font-weight:600;
} 
/* end top navbar */



main{
    width:100%;
}



/* start login, signup & forgot password form screen */

.mainSection{
    background:#f1f5f9;
    padding:20px;
    height: 100vh;
}
.mainSection .row {
    height:100%;
}
.mainSection .row .whiteBox{
    background:white;
    box-shadow:0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding:60px 80px 60px 60px;
    height:100%;
}
.mainSection .row .whiteBox .panel{
     margin:0 0 0 30%;
}
.mainSection .row .whiteBox .panel .panel-heading h2{
    color:#212121;
    font-size:38px;
    margin:30px 0 2px 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.mainSection .row .whiteBox .panel .panel-heading p{
    margin:0;
    padding:0;
    font-size:15px;
    font-weight:600;
}
.mainSection .row .whiteBox .panel .panel-heading a{
      color:rgb(63 131 248);
}
.mainSection .row .whiteBox .panel .panel-body form {
    margin:40px 0 0 0;
}
.mainSection .row .whiteBox .panel .panel-body form .form-group{
    margin:0 0 25px 0;
}

.mainSection .row .whiteBox .panel .panel-body form .form-group input {
  margin: 0;
  padding: 8px 15px;
  border: solid 1px #0000001f;
  border-radius:5px;
  width:100%;
  height:50px;
}
.mainSection .row .whiteBox .panel .panel-body form .form-group input::placeholder{
    font-size:15px;
}
.mainSection .row .whiteBox .panel .panel-body form input[type=submit]{
    background:#4f46e5;
    border:none;
    font-size:15px;
    color:white;
    padding:13px 30px;
    border-radius:50px;
    width:100%;
    margin:25px 0 0 0;
}  
.mainSection .row .whiteBox .panel .panel-body form .row .checkbox label{
   margin:0;
   padding:0;
   font-size:15px;
}
.mainSection .row .whiteBox .panel .panel-body form .row a{
    font-size:15px;
    font-weight:600;
    color:rgb(63 131 248);
}
.mainSection .row .whiteBox .panel .panel-body form .row .col-md-5{
    text-align:right;
}
.mainSection .row .whiteBox .panel .panel-body form p{
    margin:20px 0 0 0;
    padding:0;
    font-size:15px;
    font-weight:600;
}
.mainSection .row .whiteBox .panel .panel-body form p a{
      color:rgb(63 131 248);
}




.mainSection .row .darkBox{
    background:#1f2937;
       padding:10px 110px 10px 75px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    height:100%;
   justify-content:center;
}

.mainSection .row .darkBox h1{
    margin:80px 0 40px 0;
    padding:0;
    color:white;
    font-size:60px;
    font-weight:600;
}
.mainSection .row .darkBox p{
    color:rgb(156 163 175);
    margin:0 0 35px 0;
    padding:0;
    font-size:17px;
    line-height:1.9;

}
.mainSection .row .darkBox .joinedLine{
    font-size:16px;
    margin:0;
    padding:0;
}
.mainSection .row .darkBox h6{
    margin:0;
    padding:0;
    font-size:16px;
    color:rgb(156 163 175);
    bottom:60px;
    position:absolute;
}

@media(max-width:992px){
    .mainSection{
        height:auto;
    }
   .mainSection .row .whiteBox{
    border-radius:10px;
    padding:40px 30px;
    height:100%;
}
.mainSection .row .whiteBox .panel{
     margin:0;
}
.mainSection .row .whiteBox .panel .panel-heading h2 {
    font-size:30px;
}
.mainSection .row .darkBox{
        padding:40px 30px;
}
.mainSection .row .darkBox h1 {
    margin:0 0 30px 0;
    font-size:40px;
}
.mainSection .row .darkBox p{
    font-size:16px;
    margin:0 0 40px 0;
}

}


/* end login, signup & forgot password form screen */

.form-group input{
    width: 12rem;
    margin-left: 1rem;
    outline-style: none;
}
form button{
    margin-left: 1.7rem;
}